//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


pre {
    border: solid 2px #666;
    padding: 1em;
    background: #eee;
    border-radius: 16;
    box-shadow: 0px 0px 16px #ddd;
    max-height: 400px;
    overflow-y: scroll;
}