{% extends "layouts/main.html" %}

{% block pageTitle %} {{ serviceName }} – GOV.UK Prototype Kit {% endblock %}

{% block beforeContent %}
{{
    govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/"
        },
        {
            text: "Upload spreadsheet",
            href: "/upload"
        },
        {
          text: "Select sheet",
          href: "/select_sheet"
        },
        {
            text: "Select header row",
            href: "/select_header_row"
        },
        {
            text: "Select footer row",
            href: "/select_footer_row"
        },
        {
            text: "Identify columns",
            href: "/mapping"
        },
        {
	    text: "Choose formats",
            href: "/format"
        }
      ]
    })
  }}
{% endblock %}

{% from "importer/macros/format_picker.njk" import dudkFormatPicker %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Choose formats</h1>
        <p class="govuk-body">
            One or more columns may contain data represented in one of a number
            of formats, such as dates. Please select the format your file uses
            in the table below. Formats that appear to match the data found in
            your file are marked with an asterisk (*).
        </p>

        <h2 class="govuk-heading-m">{{sheet}}</h2>

        <form action="{{ importerMapDataPath('/review') }}" method="post">

            {{ dudkFormatPicker({data: data}) }}

            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-button-group">
                    {{ govukButton({ text: "Submit" }) }}
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
