{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Upload your monthly pension return
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      This service enables you to upload your monthly pension return as a
      single spreadsheet so that you may submit multiple records in a single transaction.
    </p>

    <p class="govuk-body">
      sdfsdfsdf
    </p>

    <p class="govuk-body">govuk-body</p>

    {{ govukButton({
      text: "Start now",
      href: importerStartPath('/upload'),
      isStartButton: true
    })
    }}
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="contextual-sidebar govuk-!-display-none-print">
      <h2 class="govuk-heading-s">
        Related content
      </h2>

      <nav aria-labelledby="related-nav-related_items-508b87a0" data-module="gem-toggle" data-gem-toggle-module-started="true">
        <p class="govuk-body-s">
          <ul class="govuk-list govuk-list--spaced">
            <li><a class="govuk-link" href="/info#help">Pension reporting help</a></li>
          </ul>
          </p>
      </nav>

    </div>
  </div>

</div>

{% endblock %}
