{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Upload your monthly pension return
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l">
      This demonstration service enables you to upload your monthly pension return as a
      single spreadsheet to show how your service could submit multiple records in a single transaction.
    </p>

    <p class="govuk-body">
      By uploading your pension returns on a monthly basis we are able to keep
      current data and future projections up to date, ensuring that you and your
      staff are kept as up to date as possible
    </p>

    <p class="govuk-body">
      To begin, you will need a spreadsheet or comma-separated file containing the previous month's
      employee salaries alongside their employee reference number and personal details. After uploading
      your file you will need to choose which sheet contains the data, and then  you will need to tell
      us which fields in your spreadsheet are associated with the following fields:

        <ul class="govuk-list govuk-list--bullet">
          <li>Title</li>
          <li>First name</li>
          <li>Surname</li>
          <li>Employee number</li>
          <li>Employment start date</li>
          <li>Salary</li>
          <li>Payment date</li>
        </ul>
      </p>
    </p>

    <p class="govuk-body">
      On completion, you will be provided with a reference number for the upload which should be quoted
      in any correspondence about this process.
    </p>

    {{ govukButton({
      text: "Start now",
      href: importerStartPath('/upload'),
      isStartButton: true
    })
    }}
  </div>

  <div class="govuk-grid-column-one-third">
    <div class="contextual-sidebar govuk-!-display-none-print">
      <h2 class="govuk-heading-s">
        Related content
      </h2>

      <nav aria-labelledby="related-nav-related_items-508b87a0" data-module="gem-toggle" data-gem-toggle-module-started="true">
        <p class="govuk-body-s">
          <ul class="govuk-list govuk-list--spaced">
            <li><a class="govuk-link" href="/info#help">Pension reporting help</a></li>
          </ul>
          </p>
      </nav>

    </div>
  </div>

</div>

{% endblock %}
