{% extends "layouts/main.html" %}

{% block pageTitle %} {{ serviceName }} – GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
{{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %}

{% from "importer/macros/field_mapper.njk" import importerFieldMapper %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">Identify columns</h1>
        <p>
            Select which columns in your sheet contain the information required
            by this service. You can ignore any columns that contain information
            that this service doesn't need.
        </p>

        <h2 class="govuk-heading-m">{{sheet}}</h2>

        <form action="{{ importerMapDataPath('/success', '/review') }}" method="post">

            {{ importerFieldMapper(data) }}

            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-button-group">
                    {{ govukButton({ text: "Submit" }) }}
                </div>
            </div>

        </form>
    </div>
</div>
{% endblock %}
