{% extends "layouts/main.html" %}

{% block head %}
    {{ super() }}
    {{ importerTableViewAssets() }}
{% endblock %}

{% from "importer/macros/table_view.njk" import importerTableView %}


{% block pageTitle %} – {{ serviceName }} – GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}
    {{ govukBackLink({ text: "Back", href: "javascript:window.history.back()" }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Review your data</h1>

        {{ importerTableView(data) }}

        <form action="{{ importerReviewDataPath('/success') }}" method="post">
            <div class="govuk-button-group">
                {{ govukButton({ text: "Submit" }) }}
            </div>
        </form>
    </div>
</div>
{% endblock %}