{% extends "layouts/main.html" %}

{% from "importer/macros/table_view.njk" import tableView %}

{% block pageTitle %} {{ serviceName }} – GOV.UK Prototype Kit {% endblock %}
{% block beforeContent %}


{{
    govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/"
        },
        {
            text: "Upload spreadsheet",
            href: "/upload"
        },
        {
          text: "Select sheet",
          href: "/select_sheet"
        },
        {
            text: "Select header row",
            href: "/select_header_row"
        },
        {
            text: "Select footer row",
            href: "/select_footer_row"
        },
        {
            text: "Identify columns",
            href: "/mapping"
        },
        {
            text: "Review data",
            href: "/review"
        }
      ]
    })
  }}
{% endblock %}

{% block content %}
{% set results = importerMappedData(data) %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Review your data</h1>

        <!-- Errors reported by processing -->
        {% set tableHeaders =  importerHeaderRowDisplay(data, "source") %}

        <p class="govuk-body">
            During import there were <strong>{{results.errorCount}}</strong> errors and <strong>{{results.warningCount}}</strong> warnings.
        </p>

        {% if results.errors.length > 0 %}
            <h2 class="govuk-heading-m">Errors</h2>
            {% for error in results.errors %}
                <div class="govuk-form-group govuk-form-group--error">
                    <h2 class="govuk-heading-m validation-error-message">{{error.message}}</h2>
                    <p class="govuk-body">This error occurs {{error.meta.count | count_string}} in your data. The first time at row {{ error.meta.first}}:</p>

                    {{ tableView( {
                            caption: false,
                            showHeaders: true,
                            headers: tableHeaders,
                            showRowNumbers: true,
                            rows: error.rows,
                            moreRowsCount: 0
                        } )
                    }}
                </div>
            {% endfor %}
        {% endif %}

        {% if results.warnings.length > 0 %}
            <h2 class="govuk-heading-m">Warnings</h2>
            {% for warning in results.warnings %}
                <div class="govuk-form-group govuk-form-group--error">
                    <h2 class="govuk-heading-m validation-error-message">{{warning.message}}</h2>
                    <p class="govuk-body">This warning occurs {{warning.meta.count | count_string}} in your data. The first time at row {{ warning.meta.first}}:</p>


                    {{ tableView( {
                            caption: false,
                            showHeaders: true,
                            headers: tableHeaders,
                            showRowNumbers: true,
                            rows: warning.rows,
                            moreRowsCount: 0
                        } )
                    }}
                </div>
            {% endfor %}
        {% endif %}


        <!-- End of errors -->



        <p class="govuk-body">
            The uploaded data contains the following data:

            {% set sum_result = data_sum(data, 'Salary')%}
            {% set avg_result = data_avg(data, 'Salary') %}

            <ul class="govuk-list govuk-list--bullet">
                <li><strong>{{ results.totalCount }}</strong> rows of data</li>
                <li>a total salary commitment from the 'Salary' column of <strong>{{ sum_result.value | currency }}</strong> from {{ sum_result.count }} {{ sum_result.count | pluralize("value", "values") }}.</li>
                <li>an average salary from the 'Salary' column of <strong>{{ avg_result.value | currency }}</strong> from {{avg_result.count}} {{ avg_result.count | pluralize("value", "values") }}.</li>
            </ul>
        </p>

        <p class="govuk-body">
            If the details above are correct you can continue to submit your return by clicking the 'Submit' button below.
        </p>

        <p class="govuk-body">
            If there were problems with the uploaded data, you should correct the issues and <a href="{{ importerStartPath('/upload') }}">re-upload the data</a>
        </p>


        <form action="{{ importerReviewDataPath('/success') }}" method="post">
            <div class="govuk-button-group">
                {{ govukButton({ text: "Submit" }) }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
