{% extends "layouts/main.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block pageTitle %} {{ serviceName }} – GOV.UK Prototype Kit {% endblock %}

{% block beforeContent %}
{{
    govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/"
        },
        {
            text: "Upload spreadsheet",
            href: "/upload"
        },
        {
          text: "Select sheet",
          href: "/select_sheet"
        },
        {
            text: "Select header row",
            href: "/select_header_row"
        },
        {
            text: "Select footer row",
            href: "/select_footer_row"
        }
      ]
    })
  }}
{% endblock %}

{% from "importer/macros/footer_selector.njk" import dudkFooterSelector %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">
                Select cells containing footers, counts or totals
            </h1>
            <p class="govuk-body">
                Select any extra information after the rows if your sheet
                contains it. It won't be used for this service.
            </p>
            <p class="govuk-body">
                You can skip this step if your sheet doesn't contain any extra
                information.
            </p>
        </legend>

        <form action="{{ importerSelectFooterPath('/mapping') }}" method="post">
            <div class="govuk-form-group">
                {{ dudkFooterSelector({data: data, current: importerCurrentFooterSelection(data)}) }}
            </div>

            <div class="govuk-button-group">
                {{ govukButton({ text: "Skip", classes: "govuk-button--secondary"}) }}
                {{ govukButton({ text: "Next" }) }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
