{% extends "layouts/main.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block pageTitle %} {{ serviceName }} – GOV.UK Prototype Kit {% endblock %}

{% block beforeContent %}
{{
    govukBreadcrumbs({
      items: [
        {
          text: "Home",
          href: "/"
        },
        {
            text: "Upload spreadsheet",
            href: "/upload"
        },
        {
          text: "Select sheet",
          href: "/select_sheet"
        },
        {
            text: "Select header row",
            href: "/select_header_row"
        }
      ]
    })
  }}
{% endblock %}

{% from "importer/macros/header_selector.njk" import importerHeaderSelector %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-heading-l">
                Select cells containing column names
            </h1>
            <p class="govuk-body-l">
                Column names are the descriptive labels usually found at the top
                of a column. You can select a whole row or just the column names that are
                needed for this service.
            </p>
        </legend>

        <form action="{{ importerSelectHeaderPath('/select_footer_row') }}" method="post">
            <div class="govuk-form-group">
                {{ importerHeaderSelector(data, 0, 10) }}
            </div>

            <div class="govuk-button-group">
                {{ govukButton({ text: "Next" }) }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
