{% from "importer/macros/table_view.njk" import tableView %}

{#
    importerErrorView displays errors from the result of a mapping attempt.

    These errors are grouped so that similar errors in the same column are
    shown together, and each side of the error there should also be a single
    row of non-erroring data for context where possible.

    The expected error/warning structure from the API is as follows:

#}
{% macro importerErrorView(session ) %}
    {# set tableHeaders =   importerHeaderRowDisplay(session, "source") #}
    {% set tableHeaders =  ["A", "B", "C"] %}

    {# set results = importerMappedData(data) #}
    {#
    The expected data structure is as follows:

    [
        {
          message: "An error occurred",
          fields: ["A"],
          rows: [["A", "B", "C"]] }
        },
        {
          message: "A warning is necessary",
          fields: ["B"],
            rows: [["A"]]
        }
    ]

    #}

    {% set results = {
        rows:  [{index: 1, row: [{value:"1"}, {value:"4"}, {value:"5"}]},
                {index: 2, row: [{value:"2"}, {value:"3"}, {value:"6"}]}],
        errorCount: 1,
        warningCount: 1,
        errors: [
            {
                message: "An error occurred",
                fields: [ "A" ],
                rows: [
                    {index: 2, row: [{value:"11", error: true}, {value:"44"}, {value:"55"}]}
                ]
            },
            {
                message: "A different error occurred",
                fields: ["A", "B"],
                rows: [
                    {index: 1, row: [{value:"21", error: true}, {value:"54"}, {value:"65"}] },
                    {index:2, row: [{value:"12"}, {value:"45", error: true}, {value:"56"}] },
                    {index:3, row: [{value:"1"}, {value:"2"}, {value:"3"}] }
                ]
            }

            ],

        warnings: []
    } %}

    {% if results.errors %}
        <h1 class="govuk-heading-l">Errors</h1>
        {% for error in results.errors %}

            <div class="govuk-form-group govuk-form-group--error">
                <h2 class="govuk-heading-m validation-error-message">{{error.message}}</h2>
                {{ tableView( {
                        caption: false,
                        showHeaders: true,
                        headers: tableHeaders,
                        showRowNumbers: true,
                        rows: error.rows,
                        moreRowsCount: 0
                    } )
                }}
            </div>
        {% endfor %}
    {% endif %}

    {% if results.warnings %}
        <h1 class="govuk-heading-l">Warnings</h1>
        {% for error in results.warnings %}


                {{ tableView( {
                        caption: error.message,
                        showHeaders: true,
                        headers: tableHeaders,
                        showRowNumbers: true,
                        rows: error.rows,
                        moreRowsCount: 0
                    } )
                }}
        {% endfor %}
    {% endif %}


{% endmacro %}


