{#
    dudkFieldMapper shows each column heading from the current
    spreadsheet alongside a drop-down containing each of the fields
    for our target object.  This allows the user to choose a target
    object field for each column to select how the column->field
    mapping should be applied.

    The resulting data to be submitted to the 'importerMapDataPath'
    will be a map of column indices to target field names.

    It accepts a data object which is taken from the prototype kit's
    session data which is made available on every page, and contains the
    data submitted from forms to the backend, and also the current
    data import session.
#}

{% macro dudkFieldMapper(params) %}
    {% set fields = params.data['importer.session']['fields'] %}
    {% set mapping = params.data['importer.session']['mapping'] %}
    {% set headings = importerGetHeaders(params.data) %}
    {% set headingError = headings.error %}
    {% set error = importerError(params.data) %}

    {% if headingError %}
    <p id="mapping-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ headingError.text }}
    </p>
    {% endif %}

    {% if error %}
      <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
          <h2 class="govuk-error-summary__title">
            {{ error.text }}
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              {% for e in error.extra %}
              <li>
                <a href="#field-{{ e | slugify }}">{{ e }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

<table class="govuk-table">
  {% if params.caption %}
  <caption class="govuk-table__caption govuk-table__caption--m">{{params.caption}}</caption>
  {% endif %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">{{params.columnTitle}}</th>
      <th scope="col" class="govuk-table__header">{{params.examplesTitle}}</th>
      <th scope="col" class="govuk-table__header" style="padding-left: 1.5em">{{params.fieldsTitle}}</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% set mappingsLen = mapping | length %}
    {% for h in headings.data %}
      {% set hIndex = loop.index0 %}
      {% set currentValue = importerErrorMappingData(error, hIndex) %}

    <tr class="govuk-table__row" id="field-{{ h.name | slugify }}">
      <th scope="row" class="govuk-table__header">{{ h.name }}</th>
      <td class="govuk-table__cell">{{ h.examples }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
         <select class="govuk-select" style="float: right;" name="{{h.index}}">
                <option name=""></option>
                {% for field in fields %}
                    <option value="{{field.name}}" {% if field.name == currentValue or (mappingsLen == 0 and field.name == h.name) %}selected{% endif %}>
                      {{field.name}}
                    </option>
                {% endfor %}
            </select>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}


{# Deprecated: Use dudkFieldMapper #}
{% macro importerFieldMapper(data, caption='', columnTitle='Column', examplesTitle='Example values', fieldsTitle='Fields') %}
  {{
    dudkFieldMapper({
      data: data,
      caption: caption,
      columnTitle: columnTitle,
      examplesTitle: examplesTitle,
      fieldsTitle: fieldsTitle
    })
  }}
{% endmacro %}
