
{#
    importerFieldMapper shows each column heading from the current
    spreadsheet alongside a drop-down containing each of the fields
    for our target object.  This allows the user to choose a target
    object field for each column to select how the column->field
    mapping should be applied.

    The resulting data to be submitted to the 'importerMapDataPath'
    will be a map of column indices to target field names.

    It accepts a data object which is taken from the prototype kit's
    session data which is made available on every page, and contains the
    data submitted from forms to the backend, and also the current
    data import session.
#}
{% macro importerFieldMapper(data, caption='', columnTitle='Column', examplesTitle='Example values', fieldsTitle='Fields') %}
    {% set fields = data['importer.session']['fields'] %}
    {% set headings = importerGetHeaders(data) %}
    {% set error = headings.error %}

    {% if error %}
    <p id="mapping-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
    </p>
    {% endif %}


<table class="govuk-table">
  {% if caption %}
  <caption class="govuk-table__caption govuk-table__caption--m">{{caption}}</caption>
  {% endif %}
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">{{columnTitle}}</th>
      <th scope="col" class="govuk-table__header">{{examplesTitle}}</th>
      <th scope="col" class="govuk-table__header" style="padding-left: 1.5em">{{fieldsTitle}}</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for h in headings.data %}
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">{{ h.name }}</th>
      <td class="govuk-table__cell">{{ h.examples }}</td>
      <td class="govuk-table__cell govuk-table__cell--numeric">
         <select class="govuk-select" style="float: right;" name="{{h.index}}">
                <option name=""></option>
                {% for field in fields %}
                <option value="{{field.name}}">{{field.name}}</option>
                {% endfor %}
            </select>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>




{% endmacro %}
