
{% from "importer/macros/range_selector.njk" import importerRangeSelector %}

{% macro importerFooterSelector(data, count=10) %}
    {% set rows = importerGetTrailingRows(data, count) %}
    {% set caption = importerGetTableCaption(data, "Last", count) %}

    <div class="rd-range-selector">
        {{ importerRangeSelector(rows, caption) }}
    </div>
{% endmacro %}
