{% from "importer/macros/table_view.njk" import importerTableView %}

{% macro importerFooterSelector(data, count=10) %}
    {% set rows = importerGetTrailingRows(data, count) %}
    {% set caption = importerGetTableCaption(data, "Last", count) %}

    <div>
        <input type="hidden" name="importer:selection:TLRow" id="importer:selection:TLRow"/>
        <input type="hidden" name="importer:selection:TLCol" id="importer:selection:TLCol"/>
        <input type="hidden" name="importer:selection:BRRow" id="importer:selection:BRRow"/>
        <input type="hidden" name="importer:selection:BRCol" id="importer:selection:BRCol"/>
    </div>

    <div class="rd-range-selector">
        {{ importerTableView(data, rows, caption=caption, headerMode="none") }}
    </div>

{% endmacro %}
