
{% from "importer/macros/range_selector.njk" import importerRangeSelector %}

{% macro importerHeaderSelector(data, start=0, end=10) %}
    {% set rows = importerGetRows(data, start, end) %}

    {{ importerRangeSelector(rows) }}
{% endmacro %}