

{#
    Shows warnings and errors generated when attempting to
    perform a mapping, giving users a chance to attempt to
    fix the problem, or to continue on.
#}
{% macro importerMappingReview(data) %}
    {% set failures = importerMappingFailures(data) %}

    {% if failures.warnings %}
    <div>
        <h2 class="govuk-heading-m">Warnings</h2>
        <ul>
            {% for warning in failures.warnings %}
            <li>{{ warning }}</li>
            {% endfor %}
        </ul>
    <div>
    {% endif %}

   {% if failures.errors %}
    <div>
        <h2 class="govuk-heading-m">Warnings</h2>
        <ul>
            {% for errors in failures.errors %}
            <li>{{ errors }}</li>
            {% endfor %}
        </ul>
    <div>
    {% endif %}
{% endmacro %}
