
{% macro importerRangeSelector(rows, caption) %}

<div>
    <input type="hidden" name="importer:selection:TLRow" id="importer:selection:TLRow"/>
    <input type="hidden" name="importer:selection:TLCol" id="importer:selection:TLCol"/>
    <input type="hidden" name="importer:selection:BRRow" id="importer:selection:BRRow"/>
    <input type="hidden" name="importer:selection:BRCol" id="importer:selection:BRCol"/>
</div>

    <table class="selectable govuk-body" data-persist-selection="true">
        {% if caption %}
        <caption
          class="govuk-table__caption govuk-table__caption--m"
          style="white-space: nowrap; overflow: hidden;">{{caption}}</caption>
        {% endif %}
        <tbody>
            {% for row in rows %}
            <tr>
                {% for cell in row %}
                <td
                  {% if cell.colspan %}
                    colspan="{{ cell.colspan }}"
                  {% endif %}
                  {% if cell.rowspan %}
                    rowspan="{{ cell.rowspan }}"
                  {% endif %}
                >{{cell.value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endmacro %}