
{# Deprecated: Use dudkRangeSelector instead #}
{% macro importerRangeSelector(rows, caption, tableHeaders=[], showRowNumbers=false) %}
  {{ dudkRangeSelector( {rows: rows, caption: caption, tableHeaders: tableHeaders, showRowNumbers: showRowNumbers}) }}
{% endmacro %}

{% macro dudkRangeSelector(params) %}
    {% set rows = params.rows %}
    {% set caption = params.caption %}
    {% set tableHeaders = params.tableHeaders %}
    {% set showRowNumbers = params.showRowNumbers %}

<div>
    <input type="hidden" name="importer:selection:TLRow" id="importer:selection:TLRow"/>
    <input type="hidden" name="importer:selection:TLCol" id="importer:selection:TLCol"/>
    <input type="hidden" name="importer:selection:BRRow" id="importer:selection:BRRow"/>
    <input type="hidden" name="importer:selection:BRCol" id="importer:selection:BRCol"/>
</div>

    <div class="rd-range-selector">
      <table class="selectable govuk-body"
             data-persist-selection="true"
             role="grid" aria-multiselectable="true"
             {% if caption %}
             aria-labelledby="tablecaption"
             {% endif %}
      >
          {% if caption %}
          <caption id="tablecaption" class="govuk-table__caption govuk-table__caption--m">{{caption}}</caption>
          {% endif %}

          {% if tableHeaders %}
           <thead>
            <tr>
          {% endif %}
              {% if showRowNumbers %}
                <th scope="row"></th>
              {% endif %}

              {% if tableHeaders %}
                {% for h in tableHeaders %}
                  <th scope="col">{{ h }}</th>
                {% endfor %}
              {% endif %}
          {% if tableHeaders  %}
            </tr>
          </thead>
            {% endif %}
          <tbody role="rowgroup">
              {% for rowObj in rows %}
              <tr role="row">
                {% if showRowNumbers %}
                  <th scope="row" class="rowIndex">{{ rowObj.index }}</th>
                {% endif %}
                  {% for cell in rowObj.row %}
                  <td aria-selected="false"
                    {% if cell.colspan %}
                      colspan="{{ cell.colspan }}"
                    {% endif %}
                    {% if cell.rowspan %}
                      rowspan="{{ cell.rowspan }}"
                    {% endif %}
                  >{{cell.value}}</td>
                  {% endfor %}
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
{% endmacro %}
