{% from "importer/macros/table_view.njk" import importerTableView %}

{% macro importerRowSelector(data, start=0, end=10) %}
    {% set rows = importerSuggestHeaders(data, start, end) %}

<div>
    <input type="hidden" name="importer:selection:TLRow" id="importer:selection:TLRow"/> 
    <input type="hidden" name="importer:selection:TLCol" id="importer:selection:TLCol"/> 
    <input type="hidden" name="importer:selection:BRRow" id="importer:selection:BRRow"/> 
    <input type="hidden" name="importer:selection:BRCol" id="importer:selection:BRCol"/> 
</div>


    <table class="selectable govuk-body">
        <tbody>
            {% for row in rows %}            
            <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>


{% endmacro %}