
{#
    importerSheetSelector generates a radio button list which allows the
    user to choose which sheet is to be used to upload data. If there is
    only a single sheet then it is selected by default.

    The list of sheet names is retrieved from the current spreadsheet
    being uploaded, and will always contain at least one sheet.

    It accepts a data object which is taken from the prototype kit's
    session data which is made available on every page, and contains the
    data submitted from forms to the backend, and also the current
    data import session.

    legend is the text that should be used for the legend part of the
    radio buttons, if none is supplied, then a legend is not added.
#}
{% from "importer/macros/table_view.njk" import importerTableView %}

{# Deprecated: Use dudkSheetSelector instead #}
{% macro importerSheetSelector(data, legend) %}
  {{ dudkSheetSelector({data: data, legend: legend})}}
{% endmacro %}

{% macro dudkSheetSelector(params) %}
  {% set data = params.data %}
  {% set legend = params.legend %}

  {% set selectedSheet = data['importer.session'].sheet %}
  {% set sheets = importSheetPreview(data) %}
  {% set tableRowIndex = sheets.length + 2 %}
  {% set error = importerError(data) %}

  <div class="govuk-form {% if error %}govuk-form-group--error{% endif %}">
    <div class="govuk-form-group ">
      {% if legend %}
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          {{ legend }}
        </h1>
      </legend>
      {% endif %}

      {% if error %}
      <p id="upload-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
      </p>
      {% endif %}

      <div class="govuk-radios rd-sheet-preview" data-module="govuk-radios">
        {% for sheet in sheets %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{sheet.name}}" name="sheet" type="radio" value="{{sheet.name}}" {% if selectedSheet==sheet.name %}checked="checked"{% endif %} data-preview-index="{{loop.index0}}">
          <label class="govuk-label govuk-radios__label" for="{{sheet.name}}">
          {{sheet.name}}
          </label>
        </div> <!-- .govuk-radios__item  -->
        {% endfor %}
      </div> <!-- .govuk-radios  -->
    </div>

    <div class="rd-sheet-selector-previews">
      {% for sheet in sheets %}
        <div class="hidden">
          {% if sheet.data.rows == null %}
          <div class="govuk-body">
            Sheet '{{ sheet.name }}' is empty
            </div>
          {% else %}
            {% set caption = importerGetTableCaption(data, "First", 10, sheet.name) %}
            {{ importerTableView(data, sheet.data, caption=caption, headerMode="none") }}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}
