
{% macro importerTableView(session, data, caption=false, headerMode="none" ) %}
    {% set rows = data.rows %}
    {% set moreRowsCount = data.extraRecordCount %}
    {% set headers = importerHeaderRowDisplay(session, headerMode) %}

    {{ tableView(headers, rows, caption, moreRowsCount, 0, false) }}
{% endmacro %}

{% macro tableView(headers, rows, caption=false, rowsBelow=0, rowNumbers=false) %}
    <table class="selectable govuk-body" data-persist-selection="true">
        {% if caption %}
          <caption class="govuk-table__caption govuk-table__caption--m">{{caption}}</caption>
        {% endif %}
        {% if tableHeaders %}
        <thead>
            <tr>
            {% if rowNumbers %}
                <th scope="row"></th>
            {% endif %}
            {% for h in headers %}
                <th scope="col">{{h}}</th>
            {% endfor %}
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% for row in rows %}
            <tr>
                {% if rowNumbers %}
                  <th scope="row">{{ rowNumbers + loop.index0 }}</th>
                {% endif %}
                {% for cell in row %}
                <td
                  {% if cell.colspan %}
                    colspan="{{ cell.colspan }}"
                  {% endif %}
                  {% if cell.rowspan %}
                    rowspan="{{ cell.rowspan }}"
                  {% endif %}
                >{{cell.value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        {% if rowsBelow > 0 %}
        <tfoot>
          <tr>
            <td colspan="{{headers.length}}">{{rowsBelow}} other row{{ "s" if rowsBelow != 1 }} below</td>
          </tr>
        </tfoot>
        {% endif %}
    </table>

{% endmacro %}
