

{% macro importerTableView(data, hideHeader=false) %}
    {% set headers = data.headers %}
    {% set rows = data.rows %}
    {% set moreRowsAvailable = data.extraRecordCount > 0 %}
    {% set moreRowsCount = data.extraRecordCount %}

    <table class="selectable govuk-body" data-persist-selection="true">
        {% if not hideHeader %}
        <thead>
            <tr>
            {% for h in headers %}
                <th>{{h}}</th>
            {% endfor %}
            </tr>
        </thead>
        {% endif %}
        <tbody>
            {% for row in rows %}
            <tr>
                {% for cell in row %}
                <td>{{cell}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
        {% if moreRowsAvailable %}
        <tfoot>
          <tr>
            <td colspan="{{headers.length}}">{{moreRowsCount}} other rows below</td>
          </tr>
        </tfoot>
        {% endif %}
    </table>

{% endmacro %}
